.head {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 800ms cubic-bezier(0.2, 0, 0.1, 1), visibility 0ms linear 0ms;
  z-index: 300;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #121315;
}
.head.visible {
  opacity: 1;
  visibility: visible !important;
  pointer-events: auto !important;
}

.viewer-container {
  width: 100%;
  max-width: 1920px;
  height: 100%;
  position: relative;
}

.head__title{
    position: absolute;
    color: white;
    font-family: 'Comforter', sans-serif;
    font-size: min(13.0208vw, 250px);
    pointer-events: none;
    letter-spacing: 5%;
    line-height: 1;
}

.head__title.left{
    bottom: 590px;
    left: 52px;
}
.head__title.left span{
  display: none;
}
.head__title.right{
    bottom: 217px;
    right: min(4.0625vw, 78px);
}

.head__description{
    position: fixed;
    color: white;
    opacity: 0.5 !important;
    font-size: 1.042vw;
    left: 40px;
    bottom: 60px;
    max-width: calc(15vw + 15vh);
    pointer-events: none;
    line-height: 140%;
    letter-spacing: -4%;
}

.scroll-down {
  position: absolute;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  bottom: 50px;
  opacity: 0;
  transition: opacity 320ms ease, transform 320ms ease, visibility 0ms linear 320ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.scroll-down__text{
  color: #7B7B7C;
  margin-top: 20px;
  padding: 3px 12px;
  border-radius: 41px;
  font-size: 14px;
}

.head.scroll-hint-visible .scroll-down {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.scroll-down__indicator {
  background: #FFFFFF;
  opacity: 70%;
  width: 3px;
  height: 29px;
  position: absolute;
  border-radius: 15px;
  top: -29px;
  animation: scrollDownIndicator 1.4s cubic-bezier(0.35, 0.05, 0.85, 0.3) infinite;
}

@keyframes scrollDownIndicator {
  0% {
    top: -29px;
  }
  100% {
    top: calc(100% + 5px);
  }
}

@media (max-width: 1440px) {
  .head__title{
    font-size: 11.8056vw;
  }
  .head__title.left{
    left: 20px;
    bottom: 0;
    top: 25vh;
  }
  .head__title.right{
    right: 2.2917vw;
    bottom: 24vh;
  }
  .head__description{
    left: 20px;
    font-size: calc(0.81vw + 0.81vh);
    max-width: calc(18.06vw + 18.06vh);
  }
}
@media (max-width: 1024px) {
  .head__description{
    font-size: calc(0.59vw + 0.59vh);
  }
  .head__title{
    font-size: 15.625vw;
  }
  .head__title.left{
    top: calc(6.36vw + 6.36vh);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: calc(1.92vw + 1.92vh);
  }
  .head__title.left span{
    display: inline;
  }
  .head__title.right{
    display: none;
  }
  #canvas{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
  }
}
@media (max-width: 768px) {
  .scroll-down__text{
    margin-top: 10px;
  }
  .head__title.left{
    top: 102px;
    font-size: calc(7.14vw + 7.14vh);
  }
}

@media (max-width: 500px) {
  .head__title{
    font-size: 12.8vw;
  }
  .head__title.left{
    top: 100px;
    font-size: calc(5.19vw + 5.19vh);
    gap: calc(1.62vw + 1.62vh);
  }
  .head__description{
    font-size: calc(1.13vw + 1.13vh);
    max-width: calc(19.69vw + 19.69vh);
  }
}