.head {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 800ms cubic-bezier(0.2, 0, 0.1, 1), visibility 0ms linear 0ms;
  z-index: 300;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #121315;
}
.head.visible {
  opacity: 1;
  visibility: visible !important;
  pointer-events: auto !important;
}


.viewer-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.head__title{
    position: fixed;
    color: white;
    font-family: 'Comforter', sans-serif;
    font-size: calc(8.63vw + 8.63vh);
    pointer-events: none;
    letter-spacing: 5%;
    line-height: 1;
}

.head__title.left{
    /* top: 18%; */
    /* top: calc(9.17vw + 9.17vh); */
    /* top: 10%; */
    /* top: calc(6.5vw + 6.5vh); */
    /* top: 18dvh; */
    /* top: 200px; */
    top: 180px;
    /* left: 5%; */
    left: 52px;
}
.head__title.left span{
  display: none;
}
.head__title.right{
    /* bottom: 10%; */
    /* bottom: calc(3.67vw + 3.67vh); */
    /* bottom: calc(3.67vw + 3.67vh); */
    /* bottom: 10dvh; */
    bottom: 80px;
    /* right: 2%; */
    right: 89px;
}

.head__description{
    position: fixed;
    color: white;
    opacity: 0.5 !important;
    font-size: 1.042vw;
    left: 40px;
    bottom: 60px;
    /* max-width: 450px; */
    max-width: calc(15vw + 15vh);
    pointer-events: none;
    line-height: 140%;
    letter-spacing: -4%;
}

.scroll-down {
  position: absolute;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%) translateY(10px);
  bottom: 50px;
  /* pointer-events: none; */
  opacity: 0;
  transition: opacity 320ms ease, transform 320ms ease, visibility 0ms linear 320ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.scroll-down__text{
  color: #616366;
  margin-top: 20px;
  padding: 3px 12px;
  border-radius: 41px;
  font-size: 12px;
  background: #0E0F11;
}

.head.scroll-hint-visible .scroll-down {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0);
}

.scroll-down__indicator {
  background: #FFFFFF;
  opacity: 70%;
  width: 3px;
  height: 29px;
  position: absolute;
  border-radius: 15px;
  top: -29px;
  animation: scrollDownIndicator 1.4s cubic-bezier(0.35, 0.05, 0.85, 0.3) infinite;
}

@keyframes scrollDownIndicator {
  0% {
    top: -29px;
  }
  100% {
    top: calc(100% + 5px);
  }
}

@media (max-width: 1440px) {
  .head__title{
    font-size: calc(8.12vw + 8.12vh);
  }
  .head__title.left{
    left: 20px;
  }
  .head__title.right{
    right: 29px;
  }
  .head__description{
    left: 20px;
    font-size: calc(0.81vw + 0.81vh);
    max-width: calc(18.06vw + 18.06vh);
  }
}
@media (max-width: 1024px) {
  .head__description{
    font-size: calc(0.59vw + 0.59vh);
    /* max-width: calc(18.62vw + 18.62vh); */
  }
  .head__title{
    font-size: calc(7.0vw + 7.0vh);
  }
  .head__title.left{
    top: 173px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: calc(1.26vw + 1.26vh);
  }
  .head__title.left span{
    display: inline;
  }
  .head__title.right{
    display: none;
  }
  #canvas{
    position: absolute;
    bottom: calc((5.40vw + 5.40vh) * -1);
  }
}
@media (max-width: 500px) {
  .head__title{
    font-size: calc(5.19vw + 5.19vh);
  }
  .head__title.left{
    top: 100px;
  }
  .head__description{
    font-size: calc(1.13vw + 1.13vh);
    max-width: calc(19.69vw + 19.69vh);
  }
}